.container {
    height: 100vh;
    background: gray;
}

#screen-frame {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    pointer-events: none;
    z-index: 101;
    height: 60%;
}

.laptop-main-screen {
    height: 100vh;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(149, 30, 30);
}

.laptop-taskbar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3vh;
    background-color: rgba(29, 29, 29, 0.863);
}

.software {
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    width: 6vh;
    height: 7vh;
    text-align: center;
    line-height: 6vh;
    font-size: 2.8vh;
    margin: 3vh;
    border-radius: 0.8vh;
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
}

.software:hover {
    color: #b12424;
    background: rgba(255, 255, 255, 0.55)
}

.software:hover #software-name{
    color: #e6e6e6;
}

#software-name {
    position: absolute;
    font-family: sans-serif;
    color: white;
    bottom: 0;
    font-size: 1vh;
    right: 1.1vh;
    top: 2.5vh;
    font-weight: bold;
    transition: all 0.2s linear;
}

#windows-icon {
    position: absolute;
    font-size: 18px;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 3.2vh;
    text-align: center;
    line-height: 3.2vh;

    transition: all 0.2s linear;
}

#windows-icon:hover {
    color: #b12424;
    background: rgba(0, 0, 0, 0.25);
}