!**
**/FXServer
**/cache
**/.idea
/resources/nbproject/private/
/resources/nbproject/
CitizenFX.log
CitizenFXdev.log
start.bat
mysql.cfg
server.cfg
position.cfg
ghmattimysql.log
resources/[standalone]/vMenu/__resource.lua
resources/[standalone]/vMenu/config/addons.json
resources/[standalone]/vMenu/config/locations.json
resources/[standalone]/vMenu/libSQLite.Interop.so
resources/[standalone]/vMenu/LICENSE.md
resources/[standalone]/vMenu/MenuAPI.dll
resources/[standalone]/vMenu/Newtonsoft.Json.dll
resources/[standalone]/vMenu/README.md
resources/[standalone]/vMenu/SQLite.Interop.dll
resources/[standalone]/vMenu/System.Data.SQLite.dll
resources/[standalone]/vMenu/System.Numerics.dll
resources/[standalone]/vMenu/vMenuClient.net.dll
resources/[standalone]/vMenu/vMenuServer.net.dll
resources/[standalone]/vMenu/x64/SQLite.Interop.dll
resources/[standalone]/vMenu/x86/SQLite.Interop.dll
resources/[standalone]/vMenu/x86/SQLite.Interop.dll
resources/[standalone]/vMenu/x64/SQLite.Interop.dll
resources/[standalone]/vMenu/vMenuServer.net.dll
resources/[standalone]/vMenu/vMenuClient.net.dll
resources/[standalone]/vMenu/System.Numerics.dll
resources/[standalone]/vMenu/System.Data.SQLite.dll
resources/[standalone]/vMenu/SQLite.Interop.dll
resources/[standalone]/vMenu/README.md
resources/[standalone]/vMenu/Newtonsoft.Json.dll
resources/[standalone]/vMenu/MenuAPI.dll
resources/[standalone]/vMenu/LICENSE.md
resources/[standalone]/vMenu/libSQLite.Interop.so
resources/[standalone]/vMenu/config/locations.json
resources/[standalone]/vMenu/config/addons.json
resources/[standalone]/vMenu/__resource.lua
ghmattimysql.log
ghmattimysql.log
