@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.main-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #2f3640;
    left: 0;
    z-index: 100;
}

.characters-block {
    display: none;
    position: relative;
    width: 800px;
    height: 550px;
    background-color: rgba(241, 241, 241, 0.95);
    top: 125px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
}

.characters-block-header {
    position: relative;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #b12424;
    border-bottom: 2px solid #fff;
    font-family: 'Roboto Mono' monospace;
}

.disconnect-server-btn {
    position: absolute;
    width: 80px;
    height: 60%;
    background-color: rgba(32, 32, 32, 0.822);
    left: 10px;
    bottom: 8px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 3px;
    transition: all 0.2s ease;
}

#close-reg {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: rgb(214, 50, 50);
    background: rgb(226, 226, 226);
    border-radius: 50%;
}

#close-del {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: rgb(214, 50, 50);
    background: rgb(226, 226, 226);
    border-radius: 50%;
}

.disconnect-server-btn:hover {
    background-color: rgba(51, 51, 51, 0.89);
    border-radius: 4px;
}

.disconnect-server-btn > p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding-top: 5%;
    padding-left: 6px;
}

.characters-block-header > p {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
}

.characters-list {
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30px;
    top: 60px;
}

.character {
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.691);
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 4px 0px rgba(44, 44, 44, 0.3);
}

#cid {
    position: relative;
    float: right;
    font-size: 11px;
    right: 35px;
    top: 23px;
}

.char-selected {
    border-bottom: 4px solid #74aa32;
}

.disabled {
    background-color: rgba(0, 0, 0, 0.691);
}

#slot-name {
    position: relative;
    color: white;
    font-size: 17px;
    top: 17px;
    left: 20px;
}

.character-btn {
    position: relative;
    width: 40%;
    height: 10%;
    left: 30px;
    top: 350px;
    margin-bottom: 15px;
    transition: 0.2s;
}

.character-btn > p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 21px;
}

#play {
    background: linear-gradient(to right, #56ab2f, #74aa32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    transition: all 0.3s ease;
}

#play:hover {
    background: linear-gradient(to right, #74aa32, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
}

#delete {
    background-color: rgba(151, 23, 23, 0.9);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#delete:hover {
    background-color: rgba(190, 40, 40, 0.9);
    border-radius: 8px;
}

.character-info {
    position: absolute;
    width: 40%;
    height: 83.7%;
    right: 30px;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.75);
}

#char-info-icon {
    font-size: 28px;
    color: white;
}

#char-info-titel {
    position: absolute;
    font-size: 17px;
    color: white;
    top: 7px;
    left: 38px;
}

#no-char {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 30%;
    text-align: center;
}

.char-info-titel {
    position: relative;
    left: 28%;
    top: 3%;
}

.character-info-valid {
    position: relative;
    top: 10%;
}

.character-info-box {
    position: relative;
    color: white;
    font-size: 12px;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
}

.char-info-js {
    position: absolute;
    left: 40%;
}

#info-label {
    margin-left: 10px;
}

.character-delete {
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: rgba(241, 241, 241, 1.0);
    top: 200px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-bottom: 2px solid #fff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
    text-align: center;
}

.character-delete > p {
    padding-top: 20px;
    font-size: 16px;
}

#yeet {
    font-size: 12px;
}

.character-acceptdel-btn {
    position: absolute;
    width: 43%;
    height: 13%;
    bottom: 0;
    left: 5%;
    margin-bottom: 15px;
    transition: 0.2s;
}

.character-canceldel-btn {
    position: absolute;
    width: 43%;
    height: 13%;
    bottom: 0;
    right: 5%;
    margin-bottom: 15px;
    transition: 0.2s;
}

.character-acceptdel-btn > p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 9px;
}

.character-canceldel-btn > p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 9px;
}

#accept-delete {
    background: linear-gradient(to right, #56ab2f, #74aa32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    transition: all 0.3s ease;
}

#accept-delete:hover {
    background: linear-gradient(to right, #74aa32, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
}

#cancel-delete {
    background: linear-gradient(to right, #ab2f2f, #aa3232); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    transition: all 0.3s ease;
}

#cancel-delete:hover {
    background: linear-gradient(to right, #aa3232, #ab2f2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
}

.character-register {
    display: none;
    position: absolute;
    width: 400px;
    height: 380px;
    background-color: rgba(241, 241, 241, 1.0);
    top: 200px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-bottom: 2px solid #fff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
}

.character-reg-btn {
    position: absolute;
    width: 90%;
    height: 10%;
    bottom: 0;
    left: 5%;
    margin-bottom: 15px;
    transition: 0.2s;
}

.character-reg-btn > p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 11px;
}

#create {
    background: linear-gradient(to right, #56ab2f, #74aa32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    transition: all 0.3s ease;
}

#create:hover {
    background: linear-gradient(to right, #74aa32, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
}

/* label color */
.input-field label {
    color: rgb(255, 255, 255);
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgb(15, 15, 15) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(15, 15, 15) !important;
    box-shadow: 0 1px 0 0 rgb(15, 15, 15) !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid rgb(15, 15, 15) !important;
    box-shadow: 0 1px 0 0 rgb(15, 15, 15) !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #fff;
}

.bars div{
    animation-name: an-height;
    animation-duration: .6s;
    z-index: 101;
}
@keyframes an-height {
    from{ height: 0px; }
}
.topbar {
    position: absolute;
    background-color: #dfdfdf;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #b12424;
}

.bottombar {
    position: absolute;
    background-color: #dfdfdf;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-top: 3px solid #b12424;
}


.welcomescreen {
    position: relative;
    display: block;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(238, 238, 238, 0.8);
    height: 250px;
    width: 500px;
    border-bottom: 4px solid #b12424;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
}

.welcomescreen > p {
    position: relative;
    color: #1b1b1b;
    text-align: center;
}

#welcome-titel {
    position: relative;
    top: 50px;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

.continue-btn {
    position: absolute;
    width: 35%;
    height: 36px;
    background-color: #4cb124;
    bottom: 60px;
    left: 60px;
    border-radius: 2px;
}

.continue-btn > p {
    text-align: center;
    line-height: 34px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.disconnect-btn {
    position: absolute;
    width: 35%;
    height: 36px;
    background-color: #b12424;
    bottom: 60px;
    right: 60px;
    border-radius: 2px;
}

.disconnect-btn > p {
    text-align: center;
    line-height: 34px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}