html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

#container {
	width: 100%;
	margin: auto;
}

.money-container {
	text-align: right;
	float: right;
	position: absolute;
	right: 3vw;
	top: 8vh;
}

.money-container > .money {
	color: #FFFFFF;
	text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	font-weight: bold;
	font-size: 20px;
}