body {
    background-color: transparent !important;
}

.template, .notification {
    display: none;
}

.notif-container {
    width: 20vw;
    position: absolute;
    top: 4vh;
    right: 1vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    padding: 10px;
    width: fit-content;
    border-radius: 2px;
    margin: 5px;
    font: caption;
    font-size: 12px;
    font-weight: bold;
    float: right;
}

.success {
    background: rgb(91, 168, 91);
    color: #fff;
}

.primary {
    background-color: rgb(47, 92, 115);
    color: #ffffff;
}

.error {
    background: rgb(179, 39, 39);
    color: #fff;
}