html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 10px;
    background: rgba(0,0,0,0.2);
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.45);
}

#container {
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    background: linear-gradient(to right, rgba(52,73,94,1), rgba(52,73,94,0.66), rgba(52,73,94,0.33));
}

#main-container {
    max-width: 53vw;
    position: relative;
    margin: auto;
    top: 25vh;
}

#main-container >  .inv-container {
    display: none;
    width: 100%;
    float: left;
}

#main-container >  .inv-container .inv-inputs {
    margin-top: 5px;
    margin-right:10px;
    float: right;
    color: #FFFFFF;
}

#main-container >  .inv-container .inv-inputs > .btn-inv {
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
    border-radius: 3px!important;
    padding: 5px 10px!important;
    background: rgba(0,0,0,0.2)!important;
    color: #FFFFFF!important;
}
#main-container >  .inv-container .inv-inputs > .btn-inv:hover {
    background: rgba(0,0,0,0.5)!important;
}

#main-container > .inv-container > .ply-inventory {
    overflow: auto;
    padding: 3px;
    color: #FFFFFF;
    max-height: 395px;
}

#main-container > .inv-container > .ply-inventory > .ply-inv-item {
    border: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
    vertical-align:top;
    padding: 5px;
    margin:2px;
    width: 6.3vw;
}

#main-container > .inv-container > .ply-inventory > .ply-inv-item {
    border: 1px solid rgba(255,255,255,0.5);
    float:left;
    padding: 5px;
}

#main-container > .inv-container > .ply-inventory > .ply-inv-item > .item-amount {
    font-size: 10pt;
}

#main-container > .inv-container > .ply-inventory > .ply-inv-item > .item-img > img {
    max-width:72px;
    max-height: 72px;
    display: block;
    margin: 0 auto;
}

#main-container > .inv-container > .ply-inventory > .ply-inv-item > .item-name {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

#main-container > .other-inv-container {
    display: none;
    width: 45%;
    float:left;
}

#main-container > .other-inv-container .inv-inputs {
    margin-top: 5px;
    margin-right:10px;
    float: right;
    color: #FFFFFF;
}

#main-container > .other-inv-container .inv-inputs > .btn-inv {
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
    border-radius: 3px!important;
    padding: 5px 10px!important;
    background: rgba(0,0,0,0.2)!important;
    color: #FFFFFF!important;
}
#main-container > .other-inv-container .inv-inputs > .btn-inv:hover {
    background: rgba(0,0,0,0.5)!important;
}

#main-container > .other-inv-container > .other-inventory {
    overflow: auto;
    padding: 3px;
    color: #FFFFFF;
    max-height: 395px;
}

#main-container > .other-inv-container > .other-inventory > .other-inv-item {
    border: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
    vertical-align:top;
    padding: 5px;
    margin:2px;
    width: 6.3vw;
}

#main-container > .other-inv-container > .other-inventory > .other-inv-item {
    border: 1px solid rgba(255,255,255,0.5);
    float:left;
    padding: 5px;
}

#main-container > .other-inv-container > .other-inventory > .other-inv-item > .item-amount {
    font-size: 10pt;
}

#main-container > .other-inv-container > .other-inventory > .other-inv-item > .item-img > img {
    max-width:72px;
    max-height: 72px;
    display: block;
    margin: 0 auto;
}

#main-container > .other-inv-container > .other-inventory > .other-inv-item > .item-name {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.selected {
    background: rgba(255,255,255,0.5);
    color: rgba(27, 30, 33, 0.92);
}

.active {
    background: rgba(255,255,255,0.5);
    color: rgba(27, 30, 33, 0.92);
    border: 1px solid rgba(27, 30, 33, 0.92)!important;
}

.switch-button-container {
    display: none;
    margin-top: 10%;
    float:left;
    width:10%;
}

.switch-button-container > .btn-inv {
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
    border-radius: 3px!important;
    padding: 5px 10px!important;
    background: rgba(0,0,0,0.2)!important;
    color: #FFFFFF!important;
}
.switch-button-container > .btn-inv:hover {
    background: rgba(0,0,0,0.5)!important;
}

.iteminfo-box {
    display: none;
    margin: auto;
}

.iteminfo-item {
    padding: 10px;
    color: #FFFFFF;
}