@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.advert-app {
    display: none;
    /* display: block; */
    position: relative;
    width: 103.5%;
    height: 103.5%;
    /* top: 3%; */
    top: 103.5%;
    border-radius: 10px;
    background-color: #ffffff;
}

.advert-header {
    position: absolute;
    top: 6%;
    left: 2vh;
    width: 100%;
    height: 15%;
}

.advert-new-ad-header > p {
    font-size: 15px;
    font-family: 'Lato';
    font-weight: bold;
    color: rgb(0, 0, 0);
    overflow: visible;
}

.advert-new-ad {
    position: absolute;
    bottom: 7vh;
    right: 3vh;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    background-color: #ff8f1a;
    text-align: center;
    transition: background-color 0.1s ease-in-out;
}

.advert-ads {
    position: relative;
    top: 7vh;
    height: 37vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -5%;
} 

.advert-ads::-webkit-scrollbar {
    display: none;
}

.advert-new-ad:hover {
    background-color: #c97114;
}

#advert-new-ad-icon {
    position: relative;
    line-height: 3.3vh;
    color: white;
}

.advert-app-ad {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0.5vh;
    border-radius: 2px;
    color: #ffffff;
    background: #ff8f1a;
    padding: 1vh;
}

.advert-image {
    position: absolute;
    left: 0.5vh;
    top: 0.75vh;
    width: 2.8vh;
}

.advert-message {
    text-align: center;
}

.advert-message > p {
    font-size: 13px;
    font-family: 'Lato';
    display:inline-block;
    text-overflow: ellipsis;
    font-weight: bold;
    width: 100%;
}

.advert-poster {
    font-size: 12px;
    text-align: center;
}

.ad-name {
    padding: 1vh 4vh;
}

.advert-app-ad hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#advert-name {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Lato';
}

#advert-ad {
    position: relative;
    font-size: 12px;
    font-family: 'Lato';
}

.advert-app-new-ad {
    position: absolute;
    width: 80%;
    height: 48%;
    background: rgb(233, 233, 233);
    margin: 0 auto;
    left: 0;
    right: 1vh;
    bottom: -27vh;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.advert-header > p {
    font-size: 19px;
    font-family: 'Lato';
    font-weight: bold;
    color: rgb(0, 0, 0);
    overflow: visible;
}

.advert-new-ad-header {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 45%;
    text-align: center;
}

#new-advert-message {
    position: absolute;
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: lightgray;
    outline: none;
    border-bottom: 2px solid #1da0f200;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    padding: 0.87vh;
    font-size: 13px;
    font-family: 'Lato';
    top: 5vh;
    width: 17vh;
}

#new-advert-message::-webkit-scrollbar {
    display: none;
}

#new-advert-message::placeholder {
    font-size: 13px;
    font-family: 'Lato';
}

#new-advert-message:focus {
    border-bottom: 2px solid #ff8f1a;
}

.send-new-ad {
    position: absolute;
    bottom: 8%;
    left: 18%;
    background-color: rgb(32, 32, 54);
    padding: 0.8vh;
    border-radius: 5px;
}

.cancel-new-ad {
    position: absolute;
    bottom: 8%;
    right: 15%;
    background-color: rgb(32, 32, 54);
    padding: 0.8vh;
    border-radius: 5px;
}

.send-new-ad > p {
    font-size: 12px;
    color: rgb(195, 195, 195);
    font-family: 'Lato';
}

.cancel-new-ad > p {
    font-size: 12px;
    color: rgb(195, 195, 195);
    font-family: 'Lato';
}