@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.contacts-app {
    display: block;
    position: relative;
    width: 103.5%;
    height: 103.5%;
    /* top: 102%; */
    top: 3%;
    right: 0;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
}

.contacts-header {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid rgba(124, 124, 124, 0.205);
}

.contacts-header > p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 23px;
    margin-left: 10px;
}

.my-contact-information {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 12%;
    background-color: rgb(51, 51, 51);
    box-shadow: inset 0px 0px 3px 0px rgba(255, 255, 255, 0.65);
}

.my-contact-information > p {
    font-family: 'Open Sans', sans-serif;
}

#firstletters {
    position: absolute;
    color: white;
    font-size: 12px;
    background-color: #c74040;
    padding: 11px 10px;
    top: 19%;
    left: 3.5%;
    border-radius: 50%;
}

#myi-label {
    position: absolute;
    color: rgb(184, 184, 184);
    font-size: 11px;
    padding: 13px;
    top: 0;
    left: 15.5%;
}

#myi-number {
    position: absolute;
    color: white;
    font-size: 9px;
    padding: 13px;
    top: 30%;
    left: 15.5%;
}

.contact-list {
    position: absolute;
    height: 62%;
    max-height: 62%;
    width: 98%;
    top: 22%;
    margin: 0 auto;
    left: 0;
    right: 2.5%;
    overflow-y: scroll !important;
}

.contact {
    position: relative;
    width: 100%;
    height: 12.5%;
    background-color: rgb(51, 51, 51);
    box-shadow: inset 0px 0px 3px 0px rgba(75, 75, 75, 0.3);
    border-bottom: 2px solid #1b1b1b65;
}

.contact-status {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    background-color: #50c740;
    box-shadow: inset 0px 0px 5px 0px #9dff9dda;
}

.offline {
    background-color: #c74040;
    box-shadow: inset 0px 0px 5px 0px #ff9d9dda;
}

.contact-list::-webkit-scrollbar-track
{
	background-color: #1b1b1b65;
}

.contact-list::-webkit-scrollbar
{
	width: 3px;
	background-color: #1b1b1b65;
}

.contact-list::-webkit-scrollbar-thumb
{
	background-color: #ffffff60;
}

.contact-options {
    position: absolute;
    width: 40%;
    height: 100%;
    right: -6px;
}

.contact-option {
    position: relative;
    width: 31%;
    height: 100%;
    float: left;
    transition: all 0.1s ease-in-out;
    font-size: 12px;
}

.contact-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#call-contact-icon {
    position: absolute;
    color: white;
    top: 31%;
    left: 24%;
}

#sms-contact-icon {
    position: absolute;
    color: white;
    top: 31%;
    left: 24%;
}

#edit-contact-icon {
    position: absolute;
    color: white;
    top: 31%;
    left: 24%;
}

#contact-name {
    position: absolute;
    color: white;
    top: 31%;
    left: 15%;
    font-family: 'Raleway';
    font-size: 14px;
}