@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.garage-app {
    display: none;
    display: block;
    position: relative;
    width: 103.5%;
    height: 103.5%;
    /* top: 3%; */
    top: 103.5%;
    right: 0;
    border-radius: 10px;
    background-image: url('../img/site-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -180px;
}

.garage-header {
    position: absolute;
    width: 100%;
    height: 13%;
    border-bottom: 3px solid rgba(124, 124, 124, 0.205);
}

.garage-header > p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    line-height: 90px;
    margin-left: 10px;
} 

.garage-vehicles {
    position: absolute;
    height: 70%;
    max-height: 62%;
    width: 100%;
    top: 13%;
    overflow-y: scroll;
}

.garage-vehicles::-webkit-scrollbar-track
{
	background-color: #d3d3d365;
}

.garage-vehicles::-webkit-scrollbar
{
	width: 3px;
	background-color: #e2e2e265;
}

.garage-vehicles::-webkit-scrollbar-thumb
{
	background-color: #00000060;
}

.garage-vehicle {
    position: relative;
    top: 0%;
    width: 100%;
    height: 16.66%;
    left: -2px;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.65);
    overflow: visible !important;
    margin-top: 7px;
}

.garage-vehicle-name {
    position: absolute;
    top: 5px;
    left: 8px;
    overflow: visible;
    width: 100%;
    overflow: visible !important;
}

#vehicle-name {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    left: 25px;
    top: 4px;
    overflow: visible !important;
}

#garage-car-icon {
    font-size: 18px;
    overflow: visible !important;
}

.garage-vehicle-garage {
    position: absolute;
    top: 32px;
    left: 8px;
    width: 100%;
    overflow: visible !important;
}

#vehicle-garage {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    left: 25px;
    top: 4px;
    overflow: visible !important;
}

#garage-garage-icon {
    font-size: 14px;
    overflow: visible !important;
}

.garage-vehicle-status {
    position: relative;
    top: 32px;
    right: 8px;
    width: 100%;
    overflow: visible !important;
}

#vehicle-status {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    left: 24px;
    top: 2px;
    overflow: visible !important;
}