.settings-app {
    display: none;
    position: relative;
    width: 250px;
    height: 555px;
    top: 102%;
    left: 3.5%;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.settings-header {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid rgba(124, 124, 124, 0.205);
}

.settings-header > p {
    color: rgb(61, 61, 61);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 55px;
    margin-left: 10px;
}

.settings-item {
    position: relative;
    top: 17%;
    width: 100%;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 7px;
}

.settings-item > span {
    line-height: 22px;
    margin-left: 55px;
}

#settings-titel {
    font-size: 14px;
    font-weight: bold;
}

#current-setting-status {
    font-size: 11px;
}

#current-background {
    font-size: 11px;
}

.pull-right {
    float: right;
}
  
.notify-btn {
    position: absolute;
    right: 5%;
    top: 7%;
}

.other-options {
    position: relative;
    top: 20%;
    width: 100%;
    height: 30%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 7px;
    border-bottom: 3px solid rgba(124, 124, 124, 0.205);
}

#option-titel {
    position: absolute;
    left: 55px;
    top: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #4059c7;
}

.customize-options {
    position: relative;
    top: 17.5%;
    width: 100%;
    height: 30%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 7px;
    border-bottom: 3px solid rgba(124, 124, 124, 0.205);
}

#customize-titel {
    position: absolute;
    left: 55px;
    top: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #4059c7;
}

#option-icon {
    position: absolute;
    left: 6px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 50%;
    color: #4059c7;
    font-size: 17px;
    width: 37px;
    height: 37px;
}

#customSwitch1 {
    color: black;
}