html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar {
    width: 0.3vw;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3);
}

#qbus-inventory {
    display: none;
}

.inv-background {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inv-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30vh;
    margin-left: -40vw;
    width: 80vw;
    height: 60vh;
    max-width: 80vw;
    max-height: 60vh;
    overflow: hidden;
}

.ply-inv-container {
    width: 43%;
    max-width: 43%;
    height: 100%;
    max-height: 100%;
    background: rgba(25,25,25,0.7);
    float: left;
    margin-right: 2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.oth-inv-container {
    width: 43%;
    max-width: 43%;
    height: 100%;
    max-height: 100%;
    background: rgba(25,25,25,0.7);
    float: left;
    margin-left: 2%;
    overflow-y: auto;
    overflow-x: hidden;;
}

.inv-options {
    width: 10%;
    height: 100%;
    max-height: 100%;
    float: left;
}

.item-slot {
    position: relative;
    width: 131px;
    height: 142px;
    background: rgba(20,20,20,0.5);
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: inline-block;
}

.inv-options-list {
    margin-top: 100%;
}

.inv-option-item {
    margin-top: 20%;
}

.btn-inv {
    width: 100%!important;
    max-width: 100%!important;
    border: 1px solid rgba(255, 255, 255, 0.05)!important;
    border-radius: 2px!important;
    padding: 10%!important;
    background: rgba(25,25,25,0.5);
    color: #ffffff;
}

.item-slot-label {
    position: absolute;
    bottom:0;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    padding: 1%;
}

.item-slot-label p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5vw;
}

.item-slot-img img {
    margin-top: 10%;
    display:block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.ui-draggable-dragging {
    background: rgba(20,20,20,0.7);
  }