@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gta-ui';
    src: url('gta-ui.ttf');
}

@font-face {
    font-family: 'pdown';
    src: url('pdown.ttf');
}

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

.money-content {
    padding: 3%;
}

.money-cash,.money-bank {
    position: absolute;
    color: #ffffff;
    font-size: 32px;
    font-family: 'pdown';
    display: none;
    right: 10px;
}

.money-cash {
    color: rgb(210, 210, 210);
    text-shadow: 2px 2px #00000096;
    text-align: right;
}

.money-bank {
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px #00000096;
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: 1px 1px #00000083;
    text-align: right;
    color: #1a530f;
}

#minus-changeamount {
    text-shadow: 1px 1px #00000083;
    text-align: right;
    color: #c75f60;
}

.minus {
    text-shadow: 1px 1px #00000083;
    text-align: right;
    margin-top: 10px;
    color: #c75f60;
}

.plus {
    text-shadow: 1px 1px #00000083;
    text-align: right;
    margin-top: 10px;
    color: #1a530f;
}

.ui-container {
    display: none;
    font-size: 40px;
    overflow:hidden;
    font-family: 'Quicksand';
}

.health, .armor {
    border: 3px solid rgba(77, 77, 77, 0.75);
    background: rgba(155, 155, 155, 0.7);
    height: 1.5vh;
    bottom: 1.7vh;
    width: 7.2vw;
}

.health {
    position:absolute;
    left: 1.45vw;
    padding: 0;
    float: left;
}

.armor {
    position:absolute;
    left: 8.38vw;
    padding: 0;
    float: left;
}

.healthBar, .armorBar {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.healthBar {
    background: #4e9f5a;
}

.armorBar {
    background: #70badf;
}

.hunger, .thirst, .stamina, .oxygen, .voice {
    background: rgba(155, 155, 155, 0.7);
    position: absolute;
    border: 2px solid rgba(77, 77, 77, 0.75);
    bottom: 0.35vh;
    width: 3.55vw;
    height: 1.3vh;
    padding: 0;
    float:left;
}

.hunger {
    left: 1.45vw;
}

.thirst {
    left: 5vw;
}

.stamina {
    left: 8.5vw;
}

.voice {
    left: 12vw;
}

.oxygen {
    left: 11.09vw;
}


.hungerBar, .thirstBar, .staminaBar, .oxygenBar, .voiceBar {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.hungerBar {
    background: rgba(240, 200, 80, 1.0);
} 

.thirstBar {
    background:rgba(71, 99, 173, 1.0)
}

.staminaBar {
    background: rgba(199, 88, 74, 1.0);
}

.oxygenBar {
    background: rgba(169, 216, 235, 1.0);
}

.voiceBar {
    background: rgba(240, 240, 240, 1.0);
}

.ui-car-container {
    display: none;
}

/* Carhud Styling */

.ui-car-speed, .ui-car-fuel {
    font-size: 'Quicksand', sans-serif;
    font-size: 16px;
    position: absolute;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
    color: #ffffff;
    bottom:  3.58vh;
}

.ui-car-speed {
    left: 17vw;
}

.speed-type {
    position: relative;
    left: 0.3vw;
    bottom: 0.6vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.ui-car-fuel {
    left: 21.2vw;
}

.fuel-label {
    position: relative;
    left: 0.2vw;
    bottom: 0.6vh;
    font-size: 10px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

.speed-text, .fuel-text {
    color: rgba(255, 255, 255, 1.0);
    font-size: 18px;
}

.ui-car-street {
    font-size: 16px;
    position: absolute;
    bottom: 1.05vh;
    left: 17vw;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
    color: #ffffff;
}

.sep {
    color: rgba(232, 185, 14, 1.0);
}

.ui-car-seatbelt, .ui-car-cruise {
    font-size: 14px;
    position: absolute;
    bottom: 4vh;
    color: #c92222;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25), -1px -1px 0 rgba(0, 0, 0, 0.25);
}

.ui-car-seatbelt {
    left: 25.5vw;
}

.ui-car-cruise {
    left: 29vw;
}

.ui-car-time {
    font-size: 14px;
    position: absolute;
    bottom: 7vh;
    left: 17vw;
    color: #ffffff;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.548), 1px 1px 2px rgba(0, 0, 0, 0.548), 1px -1px 0 rgba(0, 0, 0, 0.548), -1px -1px 0 rgba(0, 0, 0, 0.548);
}

